build/
deps/
Deps/
*data/
data
.project
.cproject
*.user
events.out.tfevents.*
stable-baselines/
tmp/
tb/
logs/
models/
backups/
*.egg-info/
.vscode/
scanbot2d/configs/config.yaml
habitat_scanbot2d/data/
stubs/
imgui.ini
*.speedscope
train.log*
datasets_download.py
*.navmesh
target/
*.so
*.qdrep
*.sqlite
plots/
training_data/
logs/
